// size of input form and each todos
$todoitem-height: 60px;

// button specific
$todobutton-width: 70px;

// font size presets
$fontsize-todoinput: 1.2rem;
$fontsize-todoitem: 1.2rem;
$fontsize-todobutton: 1.1rem;

// TodoItem.vue specific
$todoitem-checkbox-container-width: 30px;
$todoitem-checkbox-size: 15px;
$todoitem-checkmark-width: 5px; // left line
$todoitem-checkmark-height: 10px; // right line
$todoitem-checkmark-border: 2px;

// color presets
$color-primary: #7E7E7E;
$color-default: #595959;
$color-caution: #c94b68;
$color-paper: #f2f2f2;
$color-font: #2F2F2F;
$color-placeholder: #898989;
$color-box-shadow: #c1c1c1;
